<footer>
<div class="col-12">
<br>
<br>
<br>
<br>
<br>
	<% let year = (new Date()).getFullYear() %>
	<% let month = (new Date()).getMonth()+1 %>
	<% let date = (new Date()).getDate() %>
<hr><p style="float:right">Work Management &reg; 
	<br><%= date %>/<%= month %>/<%= year %></p>

  </div>
</footer>
