<!-- views/partials/header.ejs -->
<!-- navbar -->
<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <i class="fa fa-check-circle"></i>
    Work Management
  </a>
</nav>
