<!-- views/partials/header.ejs -->
<!-- navbar -->
<style>
h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5;
  margin-right: 0.5;
  font-weight: bold;
}
</style>
<nav class="navbar navbar-dark bg-dark" style="background-color: #FFFFFF;">
  <a class="navbar-brand" href="#">
    <h1 align="center" style="color:black;"><i>Work Management</i></h1>
  </a>
</nav>
