<!-- views/partials/header.ejs -->
<!-- navbar -->
<style>
h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0.5;
  margin-right: 0.5;
  font-weight: bold;
}
</style>
<nav class="navbar navbar-dark bg-dark" style="background-color: #333;">
<br>
    <h1 align="center" style="color:white;"><i>Work Management</i></h1>
  
</nav>
